$("tbody").fadeOut("fast", function() {
		<% if @absences.size > 0 %>
		<% @absences.each do |absence| %>
		$("tbody").html("<tr><td><%= absence.pupil.vorname %></td><td><%= absence.pupil.nachname %></td></tr>");	
		<% end %>
	<% else %>
		$("tbody").empty();
	<% end %>
});

$("tbody").fadeIn("fast");